<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration >
  <context id="context1" >
    <jdbcConnection driverClass="org.postgresql.Driver" connectionURL="jdbc:postgresql:nanotate" userId="nanotate" password="nano7541" />
    <javaModelGenerator targetPackage="com.nanotate.dao.model" targetProject="nanotate" />
    <sqlMapGenerator targetPackage="com.nanotate.dao.model" targetProject="nanotate" />
    <javaClientGenerator targetPackage="com.nanotate.dao.model" targetProject="nanotate" type="XMLMAPPER" />
    <table schema="public" tableName="user" />
     
  </context>
</generatorConfiguration>