<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
	<setting name="cacheEnabled" value="false" />
</settings>
<environments default="development">
	<environment id="development">
	<transactionManager type="JDBC"/>
	<dataSource type="UNPOOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/nanotate"/>
        <property name="username" value="nanotate"/>
        <property name="password" value="nano7541"/>
        </dataSource>
	</environment>
</environments>
<mappers>
	<mapper resource="com/nanotate/dao/xml/AnnotationMapper.xml" />
	<mapper resource="com/nanotate/dao/xml/UserMapper.xml" />
	<mapper resource="com/nanotate/dao/xml/DocumentMapper.xml" />
	<mapper resource="com/nanotate/dao/xml/FacebookPostMapper.xml" />
	<mapper resource="com/nanotate/dao/xml/TwitterPostMapper.xml" />
</mappers>
</configuration>